.About {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-right: 20px; /* Added margin from the right side */
    animation: fade-in 1s ease-in-out; /* Added fade-in animation */
  }
  
  .first-letter {
    font-size: 24px;
    font-weight: bold;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  