.footer {
  background-color: #494545;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse; 

.credit {
  font-size: 14px;
  order: 2; 
}

.credit ul {
  list-style-type: none;
  padding: 0;
}

.credit li {
  margin-bottom: 5px;
}

.github {
  display: flex;
  align-items: center;
  order: 1; 
}

.github-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
